[submodule "MumbleKit"]
	path = MumbleKit
	url = git://mumble.git.sourceforge.net/gitroot/mumble/mumblekit
[submodule "Dependencies/fmdb"]
	path = Dependencies/fmdb
	url = http://github.com/ccgus/fmdb.git
[submodule "Dependencies/three20"]
	path = Dependencies/three20
	url = http://github.com/facebook/three20.git
