[submodule "MumbleKit"]
	path = MumbleKit
	url = git://mumble.git.sourceforge.net/gitroot/mumble/mumblekit
[submodule "Dependencies/fmdb"]
	path = Dependencies/fmdb
	url = http://github.com/kballard/fmdb.git
[submodule "Dependencies/openssl"]
	path = Dependencies/openssl
	url = git://github.com/mkrautz/openssl-mirror.git
