// Copyright 2012 The 'Mumble for iOS' Developers. All rights reserved.
// Use of this source code is governed by a BSD-style
// license that can be found in the LICENSE file.

ARCHS = armv7 arm64
SDKROOT = iphoneos

MACOSX_DEPLOYMENT_TARGET = 10.7
IPHONEOS_DEPLOYMENT_TARGET = 8.0

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Developer

IPHONEOS_DEPLOYMENT_TARGET = 8.0

TARGETED_DEVICE_FAMILY = 1 // iPhone

ALWAYS_SEARCH_USER_PATHS = NO
USER_HEADER_SEARCH_PATHS = 
HEADER_SEARCH_PATHS = "${PROJECT_DIR}/MumbleKit/src/" "${PROJECT_DIR}/Dependencies/fmdb/src/" "${PROJECT_DIR}/Dependencies/gtm/" "${PROJECT_DIR}/Dependencies/MKNumberBadgeView/" "${PROJECT_DIR}/Dependencies/plcrashreporter/Source"
FRAMEWORK_SEARCH_PATHS = 

OTHER_CFLAGS = -DNS_BLOCK_ASSERTIONS=1

GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES

CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_FUNCTION = YES

INFOPLIST_FILE = Source/Info.plist

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Source/Mumble.pch

VALIDATE_PRODUCT = YES

OTHER_LDFLAGS = -all_load -ObjC -lc++

ENABLE_BITCODE = NO

PRODUCT_NAME = Mumble
PRODUCT_BUNDLE_IDENTIFIER = info.mumble.${PRODUCT_NAME:rfc1034identifier}
