name: Build
on: [push, pull_request]
env:
  buildDir: ${{ github.workspace }}/build/

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '13.1'
      - name: Build
        run: |
          gem install --verbose xcpretty
          set -o pipefail && xcodebuild -UseModernBuildSystem=NO -configuration Release -target "Mumble" CONFIGURATION_BUILD_DIR="${PWD}/__build__" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -sdk iphoneos | xcpretty
